{% extends "layout.html" %}
{% block content %}
<div class="home-large-text home-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12" id="home-heading">
<!--        <h1 style="margin-top: 0px; margin-bottom: 10px;">200x Fewer Resources</h1>-->
<!--        <h1 style="margin-top: 10px; margin-bottom: 10px;">No Changes to the Application</h1>-->
<!--        <h1 style="margin-top: 10px; margin-bottom: 15px;">Compatible with All SQL Engines</h1>-->
<!--        <p>Introduction</p>-->
      </div>
      <div class="col-md-6 disappear-on-small" style="padding-bottom:10px; padding-top:50px; padding-left:60px;">
        <iframe id="intro-video-frame" src="https://www.youtube.com/embed/dxP4HtgfLG0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-12 appear-on-small">
        <a href="https://youtu.be/NGt1va7zu4c" style="text-decoration: underline; text-decoration-color: white;"><p>Click to watch our intro video.</p></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}